
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: grey;
    background-color: whitesmoke;
}



 
/* SELECT FIELD  whitesmoke rgb(24 32 32)*/

select {
    background: darkcyan;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: auto;
    margin: 5px;
 }
  
  