
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: grey;
    background-color: #1b1a1a;
}



/* SELECT FIELD  whitesmoke rgb(24 32 32)*/

select {
    background: darkcyan;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: auto;
    margin: 5px;
    color: white;
 }

 .alert-info{
    background: cornflowerblue;
    width: auto;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    color:black;
    display: grid !important;
    place-items: center;
    margin-top: 5px;
 }

 .alert-error{
    background: rgb(58, 5, 5);
    width: auto;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    color:white;
    display: grid !important;
    place-items: center;
    margin-top: 5px;
 }
  

 .button-active {
   background-color: #1a585a; /* Green */
   border-radius: 8px;
   color: white;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }

 .button-inactive {
   background-color: #797979; /* Green */
   border-radius: 8px;
   color: rgb(37, 36, 36);
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }
  
  





.nav-outer-wrapper {
   /*background-color: yellow;*/
   background-color: rgb(39 56 50);
   width:  100%;
     box-shadow:5px 2px #423d3d;
}

.nav-main-wrapper {
   background-color: transparent;
   /*width: 800px;*/
   display: flex;
   flex-direction: unset;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

.nav-bar {
   justify-content: space-around;
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 5px;
   /*margin-right: 10px;*/color:white;
}



a {
   color:white;
   background-color: transparent;
   text-decoration: none;
   margin: 10px;
 }

 



/* CSS LAYOUT */
 .outer-wrapper {
   background-color: #212121;
   width:  100%;
}

.main-wrapper {
   /**background-color: blue;*/
   width: 90%;
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

.main-content {
 background-color: transparent;
 /*display: grid !important;
 place-items: center;*/
}

.footer {
 background-color: transparent;
     margin-top: 5px;
}


.center-content {
   display: grid !important;
   place-items: center;
}

.table-content{
   display: table-caption
}






input {
   border: 1px solid rgb(172, 171, 171);
   border-radius: 10px;
   padding: 1vw 1vw;
   outline: none;
   margin: 5px;
 }

 .app-form {
   text-align: center;
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 50vw;
   padding: 2vw 1vw;
  /* background-color: rgb(250, 194, 194);*/
   border-radius: 0 0 10px 10px;
 }
